<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>咪咕音乐网_放肆听·趣玩乐</title>
    <meta name="keywords"
        content="咪咕音乐,彩铃,移动彩铃,手机彩铃,中国移动,12530,mp3,高品质音乐,无损音乐,在线听歌,歌曲下载,振铃,歌曲,铃音,特级会员,电台,mv,演唱会直播,音乐网站,音乐播放器">
    <meta name="description"
        content="咪咕音乐网是中国移动官方音乐门户，旨在提供音乐首发、高品质音乐试听、彩铃订购、歌曲下载、铃音管理、音乐电台、音乐视频等一站式音乐互动体验，好音乐尽在music.migu.cn！">
    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="mySlider/mySlider.css">
    <link rel="stylesheet" href="myCarousel/Carousel.css">
    <link rel="stylesheet" href="mySlider/mySliderShow.css">
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/template-web.js"></script>
    <script src="js/myTool.js"></script>
    <script src="mySlider/mySlider.js"></script>
    <script src="myCarousel/Carousel.js"></script>
    <script src="mySlider/mySliderShow.js"></script>


</head>

<body>
    <!-- header -->
    <div id="header">
        <div class="header">
            <div class="container">
                <h1 class="logo fl">
                    <a href="http://music.migu.cn" title="咪咕音乐 music.migu.cn">
                        <img src="images/logo.png" alt="">
                    </a>
                </h1>
                <div class="nav-main fl">
                    <ul class="nav-container ">
                        <li class="nav-item">
                            <a href="#">音乐</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">现场</a></li>
                        <li class="nav-item"><a href="#">我的</a></li>
                        </li>
                    </ul>
                </div>
                <div class="nav-less fr">
                    <div class="search fl">
                        <div class="ipt">
                            <input type="text" placeholder="搜索歌曲、歌手、MV">
                        </div>
                        <span class="btn-search">
                            <i class="iconfont icon-chazhao"></i>
                        </span>
                    </div>
                    <ul class="nav-container fl">
                        <li class="nav-item">
                            <a href="#" class="nav-item-link">
                                <i class="iconfont icon-huiyuan"></i>
                                <span>白金会员</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-item-link">
                                <i class="iconfont icon-kehuduan"></i>
                                <span>客户端</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-item-link">
                                <i class="iconfont icon-lingdang"></i>
                                <span>视频彩铃</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-item-link">
                                <i class="iconfont icon-yonghu"></i>
                                <span>登录</span>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
        <div class="sub-nav">
            <div class="container">
                <ul class="sub-nav-music">

                    <li class="on"><a href="#">首页</a></li>
                    <li><a href="#">数字专辑</a></li>
                    <li><a href="#">歌单</a></li>
                    <li><a href="#">专辑</a></li>
                    <li><a href="#">榜单</a></li>
                    <li><a href="#">歌手</a></li>
                    <li><a href="#">彩铃</a></li>
                    <li><a href="#">咪咕出品</a></li>
                    <li><a href="#">音乐人</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--banner-->
    <div id="banner">
        <div class="container ">
            <div id="nav">
                <ul>
                    <li><a href="#" title="【首发】朱金泰倾情创作爱奇艺音乐综艺《乐队的夏天》主题曲《夏天多好》">【首发】朱金泰倾情创作爱奇艺音乐综艺《乐队的夏天》主题曲《夏天多好》</a>
                    </li>
                    <li><a href="#" title="【首发】SNH48《那年夏天的梦》">【首发】SNH48《那年夏天的梦》</a></li>
                    <li><a href="#" title="【首发】任家萱2019首支单曲温暖演绎电影《乐狱》疗愈插曲">【首发】任家萱2019首支单曲温暖演绎电影《乐狱》疗愈插曲</a></li>
                    <li><a href="#" title="【首发】沙楠杰倾情创作5G时代入门必备曲《一块趣玩》">【首发】沙楠杰倾情创作5G时代入门必备曲《一块趣玩》</a></li>
                    <li><a href="#" title="【首发】五月天全新大碟重磅来袭！十位巨星好友齐助阵">【首发】五月天全新大碟重磅来袭！十位巨星好友齐助阵</a></li>
                    <li><a href="#" title="【乐访】Tom Odell：和他沉醉在这深情的英伦之夜">【乐访】Tom Odell：和他沉醉在这深情的英伦之夜</a></li>
                    <li><a href="#" title="【乐榜】第19周：喜提榜中榜，周深和你分享">【乐榜】第19周：喜提榜中榜，周深和你分享</a></li>
                    <li><a href="#" title="【专区】知音——民族音乐">【专区】知音——民族音乐</a></li>
                </ul>
            </div>
        </div>
        <div class="slidebox">
            <div class="bd">
                <ul>
                    <li>
                        <a href="#">
                            <img src="images/banner1.jpg" alt="" class="img-full">
                        </a>
                    </li>
                </ul>
            </div>


        </div>
    </div>
    <!--songlist-->
    <div id="songlist">
        <div class="songlist-top">
            <h2 class="title">推荐歌单</h2>
            <ul class="tags">
                <li><a href="#">推荐</a></li>
                <span>|</span>
                <li><a href="#">影视</a></li>
                <span>|</span>
                <li><a href="#">华语</a></li>
                <span>|</span>
                <li><a href="#">欧美</a></li>
                <span>|</span>
                <li><a href="#">日韩</a></li>
            </ul>
            <a href="#" class="more">更多
                <i class="iconfont icon-down"></i>
            </a>
        </div>
        <div class="fjdlk">
            <!-- 幻灯片主容器 -->
            <div class="mSliderShow-ctn" id="slider2">
                <!-- 遮罩层 -->
                <div class="mSliderShow-layer"></div>

                <!-- 图片列表容器 -->
                <div class="mSliderShow-imglist">

                </div>
                <!-- 左右按钮容器 -->
                <div class="mSliderShow-arrowctn">
                    <div class="mSliderShow-leftbtn">
                        <img src="images/btn-left.png" alt="">
                    </div>
                    <div class="mSliderShow-rightbtn"><img src="images/btn-right.png" alt=""></div>
                </div>

                <!-- 小圆点列表容器 -->
                <div class="mSliderShow-desctn">
                    <ul class="mSliderShow-desc-ul">
                        <li class="mSliderShow-desc-cell mdc-act"></li>
                        <li class="mSliderShow-desc-cell"></li>
                        <li class="mSliderShow-desc-cell"></li>
                        <li class="mSliderShow-desc-cell"></li>
                    </ul>
                </div>

            </div>

        </div>


    </div>
    <!--新歌速递-->
    <div id="song">
        <!-- <div class="song-container"> -->
        <div class="song-top">
            <h2 class="title">新歌速递</h2>
            <ul class="tags">
                <li><a href="#">华语</a></li>
                <span>|</span>
                <li><a href="#">欧美</a></li>
                <span>|</span>
                <li><a href="#">日韩</a></li>
            </ul>
            <div class="play-all">
                <i class="iconfont icon-play"></i>
                <span>播放全部</span>
            </div>
        </div>
        <div class="song-center">
            <div class="swiper-slide-item">
                <div class="thumb">
                    <a href="#"><img src="images/list1.jpg" alt=""></a>
                    <div class="item-info">
                        <p class="song-name"><a href="#">不要问我过的好不好</a>
                        </p>
                        <p class="singer"><a href="#">南方二重唱</a>
                        </p>
                    </div>
                    <p class="song-time">
                        04:27
                    </p>
                </div>
            </div>
        </div>
        <div class="arrow">
            <a href="#" class="arrow-left "></a>
            <a href="#" class="arrow-right "></a>
        </div>
        <div class="songlist-bottom">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- 新碟上架 -->
    <div id="alum">
        <div class="songlist-top">
            <h2 class="title">新碟上架</h2>
            <a href="#" class="more">更多
                <i class="iconfont icon-down"></i>
            </a>
        </div>
        <div class="fjdlk">
            <!-- 幻灯片主容器 -->
            <div class="mSliderShow-ctn" id="slider1">
                <!-- 遮罩层 -->
                <div class="mSliderShow-layer"></div>

                <!-- 图片列表容器 -->
                <div class="mSliderShow-imglist">
                    <ul class="msbmil-ul">
                        <!-- mSliderShow-act：表示活动图片 -->
                        <li class="msbmilu-cell ">
                            <div class="alum-center">
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/list1.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/list3.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/list4.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/list5.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="msbmilu-cell ">
                            <div class="alum-center clearfix">
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/song1.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/song2.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/song3.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/song4.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="msbmilu-cell ">
                            <div class="alum-center clearfix">
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/song4.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/song5.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/song6.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/song7.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="msbmilu-cell ">
                            <div class="alum-center clearfix">
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/song8.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/song9.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/song10.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/song7.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 左右按钮容器 -->
                <div class="mSliderShow-arrowctn">
                    <div class="mSliderShow-leftbtn">
                        <img src="images/btn-left.png" alt="">
                    </div>
                    <div class="mSliderShow-rightbtn"><img src="images/btn-right.png" alt=""></div>
                </div>

                <!-- 小圆点列表容器 -->
                <div class="mSliderShow-desctn">
                    <ul class="mSliderShow-desc-ul">
                        <li class="mSliderShow-desc-cell mdc-act"></li>
                        <li class="mSliderShow-desc-cell"></li>
                        <li class="mSliderShow-desc-cell"></li>
                        <li class="mSliderShow-desc-cell"></li>
                    </ul>
                </div>

            </div>

        </div>

    </div>
    <!-- 咪咕出品 -->
    <div id="make">
        <div class="songlist-top">
            <h2 class="title">咪咕出品</h2>
            <ul class="tags">
                <li><a href="#">咪咕最IN乐</a></li>
                <span>|</span>
                <li><a href="#">乐访</a></li>
                <span>|</span>
                <li><a href="#">音人而异</a></li>
            </ul>
            <a href="#" class="more">更多
                <i class="iconfont icon-down"></i>
            </a>
        </div>
        <div class="wrap">
            <div class="myCarousel-ctn" id="slide">
                <!-- 图片列表 -->
                <ul class="myCarousel-ul">
                    <!--五张图片-->
                    <li class="myCarousel-licell"><a href="#"><img src="images/Carousel1.jpg" alt="" /></a></li>
                    <li class="myCarousel-licell"><a href="#"><img src="images/Carousel2.jpg" alt="" /></a></li>
                    <li class="myCarousel-licell"><a href="#"><img src="images/Carousel3.jpg" alt="" /></a></li>
                    <li class="myCarousel-licell"><a href="#"><img src="images/Carousel4.jpg" alt="" /></a></li>
                    <li class="myCarousel-licell"><a href="#"><img src="images/Carousel5.jpg" alt="" /></a></li>
                </ul>
                <!--左右切换按钮-->
                <div class="myCarousel-arrow">
                    <span class="myCarousel-prev"></span>
                    <span class="myCarousel-next"></span>
                </div>
                <div class="songlist-bottom">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

    </div>
    <!-- 排行榜 -->
    <div id="billboard">
        <!-- <div class="song-container"> -->
        <div class="song-top">
            <h2 class="title">新歌速递</h2>
            <a href="#" class="more">更多
                <i class="iconfont icon-down"></i>
            </a>
        </div>
        <div class="arrow">
            <a href="#" class="arrow-left "></a>
            <a href="#" class="arrow-right "></a>
        </div>
        <div class="songlist-bottom">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- </div> -->
    </div>
    <!-- 音乐人 -->
    <div id="Musician">
        <div class="songlist-top">
            <h2 class="title">音乐人</h2>
            <a href="#" class="more">更多
                <i class="iconfont icon-down"></i>
            </a>
        </div>
        <div class="fjdlk">
            <!-- 幻灯片主容器 -->
            <div class="mSliderShow-ctn" id="slider1">
                <!-- 遮罩层 -->
                <div class="mSliderShow-layer"></div>

                <!-- 图片列表容器 -->
                <div class="mSliderShow-imglist">
                    <ul class="msbmil-ul">
                        <!-- mSliderShow-act：表示活动图片 -->
                        <li class="msbmilu-cell ">
                            <div class="alum-center">
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/list1.jpg" alt="">
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/list3.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/list4.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="thumb fl">
                                    <div class="imgCtn">
                                        <a href="#">
                                            <img src="images/list5.jpg" alt="">
                                            <!-- <b></b> -->
                                            <span class="playlist-play">
                                        </a>
                                    </div>
                                    <i class="alum-cover"></i>
                                    <div class="item-info">
                                        <a href="#" class="item-title">韩剧OST|青春浪漫物语，爱你这件小事</a>
                                        <p>
                                            <span class="fl">群星</span>
                                            <span class="fr">2019-05-26</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 左右按钮容器 -->
                <div class="mSliderShow-arrowctn">
                    <div class="mSliderShow-leftbtn">
                        <img src="images/btn-left.png" alt="">
                    </div>
                    <div class="mSliderShow-rightbtn"><img src="images/btn-right.png" alt=""></div>
                </div>

                <!-- 小圆点列表容器 -->
                <div class="mSliderShow-desctn">
                    <ul class="mSliderShow-desc-ul">
                        <li class="mSliderShow-desc-cell mdc-act"></li>
                        <li class="mSliderShow-desc-cell"></li>
                        <li class="mSliderShow-desc-cell"></li>
                        <li class="mSliderShow-desc-cell"></li>
                    </ul>
                </div>

            </div>

        </div>


    </div>
    <!-- footer -->
    <div id="footer">
        <div class="footer-info">
            <div class="container">
                <div class="footer-swap footer-item">
                    <div class="migu-family migu-info">
                        <p class="migu-title">咪咕音乐家族</p>
                        <ul>
                            <li><a href="http://ivr.migu.cn/" target="_blank">IVR</a></li>
                            <li><a href="http://211.137.107.18:8888/page/cm/login.jsp" target="_blank">企业彩铃</a></li>
                            <!-- <li><a href="http://ising.migu.cn/" target="_blank">咪咕爱唱（TV版）</a></li> -->
                            <li><a href="https://zgyd.diyring.cc/web/webhome/index" target="_blank">个性彩铃</a></li>
                        </ul>
                    </div>
                    <div class="migu-contact migu-info">
                        <p class="migu-title">联系我们</p>
                        <ul>
                            <li><a href="http://music.migu.cn/v2/common/cooperation">业务合作</a></li>
                            <li><a href="http://open.migu.cn/" target="_blank">开放平台</a></li>
                            <li><a href="javascript:;" class="J-go-kf">常见问题</a></li>
                            <li><a href="http://music.migu.cn/v2/common/musicianCooperation" target="_blank">咪咕音乐人合作</a>
                            </li>
                            <!-- <li><a href="https://i.migu.cn" target="_blank">咪咕音乐人合作</a></li> -->
                            <li><a href="http://music.migu.cn/v2/common/contactus">联系我们</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-focus footer-item">
                    <p class="migu-title">关注我们</p>
                    <div class="focus-way">
                        <a href="https://www.weibo.com/10658830" class="focus-sina" target="_blank"></a>
                        <a href="javascript:;" class="focus-wx"> <img src="images/ecode.png" alt="咪咕视频客户端下载二维码"
                                class="img-block img-full" /> </a>
                    </div>
                </div>
                <div class="footer-qrcode footer-item">
                    <p class="migu-title">咪咕客户端</p>
                    <ul>
                        <li class="qrcode-a"> <img src="images/miguvideo_ewm.jpg" alt="咪咕音乐客户端下载二维码"
                                class="img-block img-full" />
                            <p>咪咕音乐</p>
                        </li>
                        <li> <img src="images/miguvideo_ewm.jpg" alt="咪咕视频客户端下载二维码" class="img-block img-full" />
                            <p>咪咕视频</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="c-link">
                    <ul>
                        <li> <a href="/v3/api/user/sso?redirectType=PC_MIGU&amp;redirectUrl=http://www.migu.cn/index.html"
                                target="_blank">咪咕文化</a> <span class="split-line"></span> </li>
                        <li> <a href="/v2/common/profile" target="_blank">咪咕音乐简介</a> <span class="split-line"></span>
                        </li>
                        <li> <a href="/v2/common/copyright" target="_blank">版权声明</a> <span class="split-line"></span>
                        </li>
                        <li> <a href="/v2/common/news" target="_blank">新闻动态</a> <span class="split-line"></span> </li>
                        <li> <a href="/v2/common/link" target="_blank">友情链接</a> <span class="split-line"></span> </li>
                        <li> <a href="/v2/common/map" target="_blank">网站地图</a> <span class="split-line"></span> </li>
                        <li> <a href="https://passport.migu.cn/portal/protocol?sourceid=220001" target="_blank">服务协议</a>
                            <span class="split-line"></span> </li>
                        <li> <a href="https://passport.migu.cn/portal/privacy/protocol?sourceid=220001"
                                target="_blank">隐私权政策</a> </li>
                    </ul>
                </div>
                <div class="c-auth">
                    <ul>
                        <li>蜀ICP备15012512号-1</li>
                        <li>川网文[2012]0762-026</li>
                        <li>网络视听许可证0112648号</li>
                        <li>增值业务许可证A2.B1.B2-20100001</li>
                    </ul>
                </div>
                <div class="c-info">
                    Copyright &copy; 2005 - 2019 咪咕音乐有限公司
                </div>
            </div>
        </div>
    </div>

    <!-- 底部固定栏 -->
    <div class="offset-action">
        <a href="#" id="action-top">
            <i class="iconfont icon-l"></i>
        </a>
        <a href="#">
            <i class="iconfont icon-migukefuicon-
"></i>
        </a>
        <a href="#">
            <i class="iconfont icon-bofang"></i>
        </a>
    </div>
    <script id="exmp" type="text/html">
        <!-- mSliderShow-act：表示活动图片 -->
        <ul class="msbmil-ul">
           <% for(let i = 0; i < items.length; i++){%>
              <li class="msbmilu-cell ">
                 <div class="alum-center">
                    <div class="songlist-center">
                       <div class="songlist-container">
                    <% for(let j = 0; j < items[i].length; j++){%> 
                       <div class="thumb fl">
                           <div class="imgCtn">
                              <a href="#"><img  style="background: url('<%=items[i][j].image %>');background-size:cover; width: 216px;
    display: block;
    transition: all 0.6s;"></a>
                              <span class="playlist-play">
                                <b></b>
                                <b></b>
                            <img src="images/btn-play.png" alt="" class="play">
                        </span>
                    </div>

                    <div class="item-info">
                        <a href="#" class="item-title"><%=items[i][j].title %></a>
                        <p>
                            <i class="iconfont icon-headset"></i>
                            <span><%=items[i][j].playTimes %></span>
                        </p>
                    </div>
                </div>
                <%}%>

            </div>

        </div>
                            </div>
                        </li>
                        <%}%>
                          </ul>
    </script>

    <script src="lib/js/jquery-3.3.1.js"></script>
    <script src="lib/js/popper.js"></script>
    <script src="lib/js/bootstrap.js"></script>
    <script src="js/index.js"></script>
</body>

</html>